.dataGridCell {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-data-grid {
  height: calc(100vh - 230px); /* adjust the value based on the height of other elements */
}
